body{
  padding : 0;
  margin : 0;
  background-color : rgb(189,195,199);
}

.app-body-menu{
  border-top : 1px solid rgb(52,152,219);
  border-right : 1px solid rgb(52,152,219);
  background-color : rgb(31, 45, 58);
  position : fixed;
  top : 55px;
  left : 0px;
  width : 220px;
  padding-top : 20px;
  height : calc(100vh - 55px);
  display : none;
}

.desktop-menu-item{
  color : rgb(52,152,219);
  width : calc(0.8 * 220px - 20px);
  margin-left : calc(0.1 * 220px);
  font-family : Ubuntu;
  font-size : 26px;
  padding-top : 5px;
  padding-bottom : 5px;
  padding-left : 20px;
}
