body{
  padding : 0;
  margin : 0;
}


.top-bar{
  background-color : rgb(31, 45, 58);
  color : rgb(52,152,219);
  font-family :Ubuntu;
  position : fixed;
  top : 0px;
  left : 0px;
  width : 100vw;
  height : 50px;
  display : table;
}

.top-bar-1{
  display : table-cell;
  width : 200px;
}

.top-bar-2{
  width : auto;
  display : table-cell;
}

.top-bar-3{
  width : 65px;
  display : table-cell;
}

.top-bar-menu-button{
  background-color : rgb(31, 45, 58);
  border : 1px solid rgb(52,152,219);
  color : rgb(52,152,219);
  margin-top : 15px;
  margin-left : 5px;
}

.top-bar-your-job-button{
  margin-left : 10px;
  font-size : 15px;
  padding-top : 6px;
  padding-bottom : 8px;
  border-radius : 8px;
  background-color : rgb(31, 45, 58);
  border : 2px solid rgb(241,196,15);
  color : rgb(241,196,15);

}

.top-bar-2-sub{
  width : 60%;
  height : 50px;
}

.top-bar-search-guess{
  background-color : purple;
  width : 61%;
  display : none;
  margin-left : 2%;

}

.top-bar-search-bar{
  background-color : rgb(44,62,80);
  border : 1px solid rgb(189,195,199);
  color : rgb(52,152,219);
  font-size : 20px;
  margin-top : 8px;
  margin-left : 2%;
  width : 60%;
  padding : 2px;
}

.top-bar-sign-in-button{
  background-color : rgb(31, 45, 58);
  border : 1px solid rgb(52,152,219);
  color : rgb(52,152,219);
  padding : 5px;
}
