
.tb-component{
  background-color : rgb(52,152,219);
  font-family : Ubuntu;
}

.tb-component-1{
  display : flex;
  flex-direction: row;
  justify-content : space-around;
}
.tb-side{
  width : 140px;
  padding-top : 20px;
  padding-bottom : 20px;
  align-items : center;
}
.tb-middle{
  flex : 1;
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items : center;
}
.tb-left-logo{
  width : 80%;
  margin-left : 10%;
}

.tb-middle-search{
  width : 40%;
  margin-left : 2px;
}
.tb-middle-search-label{
  color : rgb(236,240,241);
  margin-top : 12px;
  font-size : 18px;
}
.tb-middle-search-input{
  background-color : rgb(236,240,241);
  width : 95%;
  border : none;
  font-size : 24px;
  padding : 2%;
  border-radius : 5px;
}
.tb-middle-search-suggestions{
  position : absolute;
  width : 26%;
  z-index : 20;
  background-color : rgb(52,152,219);
  opacity : 0.7;
}

.tb-searchButton{
  background-color : rgb(192,57,43);
  color : rgb(236,240,241);
  border : none;
  font-size : 18px;
  padding : 10px;
  padding-left : 15px;
  padding-right : 15px;
  border-radius : 5px;
}


.tb-component-2{
  color :green;
}

/*mobile-version*/
@media (max-width: 900px){
  .tb-component-1{
    flex-direction : column;
    align-items : stretch;
  }
  .tb-side{
    width :100%;
  }
  .tb-middle{
    flex-direction : column;
    align-items : stretch;
  }
  .tb-middle-search, .tb-middle-search-suggestions{
    width : 100%;
  }
}
