.top-bar{
  background-color : rgb(31, 45, 58);
  color : rgb(52,152,219);
  font-family :Ubuntu;
  position : fixed;
  top : 0px;
  left : 0px;
  width : 100vw;
  height : 55px;
  border-bottom : 1px solid rgb(52,152,219);
}

.top-bar-1{
  width : 150px;
  height : 100%;
  display : inline-block;
  float : left;
}

.top-bar-2{
  width : calc(100% - (150px + 120px));
  height : 100%;
  float : left;
  display : inline-block;
}

.top-bar-3{
  width : 120px;
  height : 100%;
  float : left;
}

.top-bar-menu-button{
  background-color : rgb(31, 45, 58);
  border : 1px solid rgb(52,152,219);
  color : rgb(41,128,185);
  margin-top : 15px;
  cursor : pointer;
}
.top-bar-menu-button:hover{
  background-color : rgb(52,152,219);
  border : 1px solid rgb(31, 45, 58);
  color : rgb(31, 45, 58);
}


.top-bar-your-job-button{
  margin-left : 10px;
  font-size : 15px;
  padding-top : 6px;
  padding-bottom : 8px;
  border-radius : 8px;
  background-color : rgb(31, 45, 58);
  border : 2px solid rgb(241,196,15);
  color : rgb(241,196,15);

}

.top-bar-2-sub{
  width : 80%;
  height : 38px;
  margin-top : 12px;
  margin-left : 10%;
}
.top-bar-search-bar{
  border : 1px solid rgb(189,195,199);
  background-color : rgb(44,62,80);
  color : rgb(52,152,219);
  font-size : 20px;
  height : 24px;
  width : 72%;
  float : left;
}

.top-bar-search-button{
  background-color : rgb(44,62,80);
  height : 28px;
  cursor : pointer;
  width : 70px;
  border : 1px solid rgb(189,195,199);
}

.top-bar-search-guess{
  background-color : rgb(31, 45, 58);
  width : 72%;
  display : none;

}


.top-bar-search-button img{
  width : 15px;
  height : 15px;
  margin-top : 2px;
}

.top-bar-sign-in-button{
  background-color : rgb(31, 45, 58);
  border : 1px solid rgb(52,152,219);
  color : rgb(52,152,219);
  padding : 5px;
  margin-top : 15px;
}

.top-bar-search-guess-item{
  padding-top : 3px;
  padding-bottom : 3px;
  cursor : pointer;
}

.top-bar-search-guess-item:hover{
  background-color : rgb(52,152,219);
  color : rgb(31, 45, 58);

}


.top-bar-mobile-links-div{ display : none; }

@media (max-width: 600px){
  .top-bar-1, .top-bar-3{
    display : none;
  }

  .top-bar{
    width : 100%;
    height : auto;
    position : static;
    display : inline-block;
    border-bottom : none;
  }

  .top-bar-2{
    width : 100%;
    height : auto;
    clear : both;
    display : block;
  }

  .top-bar-2-sub{
    width : 100%;
    height : auto;
    margin-top : 5px;
    margin-left : 0px;
    display :inline-block;
  }

  .top-bar-search-bar{
    font-size : 32px;
    height : 40px;
    width : 75%;
    float : left;
    border-left : none;
    background-color : rgb(31, 45, 58);
  }

  .top-bar-search-button{
    height : 44px;
    width : 24.5%;
    border-right : none;
    border-left : none;
    background-color : rgb(31, 45, 58);
  }


  .top-bar-search-guess{
    width : 100%;
    display : none;
  }


  .top-bar-search-button img{
    width : 20px;
    height : 20px;
    margin-top : 2px;
  }

  .top-bar-mobile-links-div{
    display : inline-block;
    width : 100%;
    border-bottom : 1px solid rgb(52,152,219);
    margin-bottom : 0px;
  }

  .top-bar-mobile-links{
    width : 24.5%;
    height : 100%;
    float : left;
    text-align : center;
    font-family : Ubuntu;
    font-size : 20px;
    padding-top : 10px;
    padding-bottom : 10px;
    border-right : 1px solid rgb(52,152,219);
    cursor : pointer;
  }


}
