<DOCTYPE! html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="/js/yjUser.js" ></script>
<script src="/js/yjApp.js" ></script>

</head>
<body ng-app="yjApp" ng-controller="yjAppController" class="container-fluid" >

<!-- jumbotron and menu -->

<div class="jumbotron ytJumbotron">
	<img id="ytLogo" src="/res/im/logo.png" />
</div>

<div ng-include="'html/menu.html'" ng-if="true">  
</div>


<!-- sign-up / sign-in  -->
<div ng-include="'html/signIn.html'">
</div>

 <!-- your profile -->
<div ng-include="'html/yourProfile.html'">
</div>




</body>
</html>