<nav class="navbar navbar-default ytNav">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span> 
	  </button>
	  <a class="navbar-brand" href="#">YourJob</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
	  <ul class="nav navbar-nav">
		<li class="active"><a href="#" data-toggle="collapse" data-target="#myNavbar.in" ng-click="user.view='home';">Home</a></li>
		<li><a href="#" data-toggle="collapse" data-target="#myNavbar.in" ng-show="user.loggedIn" ng-click="user.view='yourProfile';">YourProfile</a></li>
		<li><a href="#" data-toggle="collapse" data-target="#myNavbar.in" ng-click="user.view='yourJobs';">YourJobs</a></li>
		<li><a href="#" data-toggle="collapse" data-target="#myNavbar.in">YourPitch</a></li> 
		<li><a href="#" data-toggle="collapse" data-target="#myNavbar.in">YourContact{{user.view}}</a></li> 
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
		<li ng-hide="user.loggedIn"><a href="#" ng-click="userAccess.signIn=false;user.view='signin'" data-toggle="collapse" data-target="#myNavbar.in"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		<li ng-hide="user.loggedIn"><a href="#" ng-click="user.view='signin';userAccess.signIn=true;" data-toggle="collapse" data-target="#myNavbar.in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		<li ng-show="user.loggedIn"><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out" data-toggle="collapse" data-target="#myNavbar.in" ></span> Logout</a></li>
	  </ul>
	</div>
  </div>
</nav>