<div class="container-fluid yjSection" ng-show="user.view=='signin'" >
			<div class="row">
			<div class="col-sm-6">
			<h2 ng-bind="userAccess.msg()"></h2>
			
			<form class="form-horizontal" role="form">
				<div class="form-group">
				<label class="control-label col-sm-2">Username:</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" ng-model="userAccess.un" placeholder="Enter username">
				</div>
			  </div>
			  <div class="form-group" ng-hide="userAccess.signIn">
				<label class="control-label col-sm-2" for="email">Email:</label>
				<div class="col-sm-10">
				  <input type="email" class="form-control" ng-model="userAccess.email" placeholder="Enter email">
				</div>
			  </div>
			  <div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Password:</label>
				<div class="col-sm-10"> 
				  <input type="password" class="form-control" ng-model="userAccess.pw" placeholder="Enter password">
				</div>
			  </div>
			  <div class="form-group" ng-hide="userAccess.signIn" >
				<label class="control-label col-sm-2" for="pwd">(confirm):</label>
				<div class="col-sm-10"> 
				  <input type="password" class="form-control" ng-model="userAccess.cpw" placeholder="Confirm Your password">
				</div>
			  </div>
			  <div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
				  <button type="submit" class="btn btn-default" ng-click="userAccess.go()" ng-bind="userAccess.msg()" ></button>
				</div>
			  </div>
			</form>
		</div>
		<div class="col-sm-6">
		</div>
		</div>
</div>