<div class="container-fluid yjSection" ng-if="user.loggedIn && user.view == 'yourProfile'">
	<div class="row">
		<div class="col-sm-2">
			<img ng-src="{{user.dp();}}" class="yjUserProfileDp"/>
			<h1 class="yjCenter" >{{user.data.un}}</h1>
			<div class="yjCenter">email: {{user.data.email}}</div>
			<button style="width:100%;" type="button" class="btn btn-default" ng-click="user.sub=''" >view</button>
			<button style="width:100%;" type="button" class="btn btn-default" ng-click="user.sub='updateProfile'" >update profile</button>
			<button style="width:100%;" type="button" class="btn btn-default" ng-click="user.sub='editContent'" >edit content</button>

		</div>
		
		<div class="col-sm-10">
			<div class="container-fluid">
				<div class="row">
					<button class="col-sm-4 btn btn-danger yjNewButton" ng-click="user.sub='newVideo'" >
						new video
					</button>
					<button class="col-sm-4 btn btn-success yjNewButton">
						new pic
					</button>
					<button class="col-sm-4 btn btn-primary yjNewButton">
						new story
					</button>
				</div>
				<!-- edit -->
				<div class="row" ng-show="user.sub=='updateProfile'" >
					<div class="yjEditItemOuter col-sm-4">
						<div class="yjEditItem yjCenter">
							<img ng-src="{{user.dp();}}" class="yjUserProfileDp"/>
							{{user.dpFriendly()}}
							<yj-file-input />
						</div>
					</div>
					<div class="yjEditItemOuter col-sm-8">
						<div class="yjEditItem">
							wow
						</div>
					</div> 
				</div>
			</div>


			<div class="row" ng-show="user.sub==''" >
					jobs will be shown here
				
			</div>

<!-- new video -->
			<div class="container-fluid" ng-show="user.sub=='newVideo'" >
				<div class="row">
					<div class="col-12-sm"><h1>Add Your Job's Video</h1></div>
				</div>
				<div class="row">
<!-- FORM START -->
			
					<label class="control-label col-sm-6">name:</label>
					<div class="col-sm-6">
					  <input type="text" class="form-control" placeholder="enter a friendly media name">
					</div>

					<label class="control-label col-sm-6">description:</label>
					<div class="col-sm-6">
					  <textarea class="form-control" placeholder="enter a description"></textarea>
					</div>
					<br/>
					<br/>
					<br/>
					<button class="btn btn-primary col-sm-12">UPLOAD</button>


<!-- FORM END -->
				</div>

			</div><!-- <==== end new video container-->
			
			

		</div>
	</div>
</div>