body
{
	background-color:rgb(209,109,0);
}
.ytJumbotron{
	background-color:rgb(248,248,248);
}

.yjSection{
	background-color:rgb(248,248,248);
	border-radius:6px;
	padding:10px;
}


.ytNav{
	border-radius:6px;
}

#ytLogo{
	padding:10px;
}

.ytBottomMargin{
	vertical-align:bottom
}

.yjUserProfileDp{
	width:100%;
	height:auto;
	cursor : pointer;
}

.yjCenter{
	text-align:center;
}

.yjNewButton{
	margin:0px;
	padding:10px;
}

.yjEditItemOuter{
	padding:20px;
}

.yjEditItem
{
	padding:10px;
	font-size:130%;
	border-style:dashed;
	margin:0px;
}